/* ==========================================================================
   Start of old custom CSS
   ========================================================================== */
   body {
    font-family: Calibre, sans-serif;
    color: #333;
    font-size: 22px;
    line-height: 30px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 76px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.9px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
  
  p {
    margin-bottom: 30px;
    text-align: left;
  }
  
  a {
    border-bottom: 2px solid #feec00;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #000;
    font-weight: 500;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #feec00;
  }
  
  .hero {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #2c2c2c;
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469ff4a09814c81159fe99_hero.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
  }
  
  .hero.home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
  }
  
  .hero.about {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb082abad38a839b9f824_about-will.png");
  }
  
  .hero.experience {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb08a847c00580ea5d0ad_experience-02.png");
  }
  
  .hero.projects {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb08f5747fcf7eea375e2_project-hero.png");
  }
  
  .hero.support {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb0945747fc6b09a375e9_support-hero.png");
  }
  
  .hero.collection {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  
  .navbar {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
  }
  
  .nav-link {
    padding: 8px 20px;
    border-style: none;
    -webkit-transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    background-color: transparent;
    opacity: 0.65;
  }
  
  .nav-link.w--current {
    color: #fff;
  }
  
  .nav-link._2 {
    margin-left: 20px;
    background-color: #5d5d5d;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  
  .nav-link._2:hover {
    background-color: rgba(93, 93, 93, 0.75);
    opacity: 1;
  }
  
  .nav-link._3 {
    margin-left: 20px;
    background-color: #feec00;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #000;
  }
  
  .nav-link._3:hover {
    background-color: rgba(254, 236, 0, 0.8);
    opacity: 1;
  }
  
  .nav-link.dropdown {
    padding-right: 40px;
  }
  
  .logo {
    width: 100px;
  }
  
  .container-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .highlight {
    display: inline;
    background-color: #feec00;
  }
  
  .highlight._2 {
    background-color: #fff;
    line-height: 48px;
  }
  
  .hero-container {
    padding-top: 130px;
    text-align: center;
  }
  
  .hero-container.home {
    padding-top: 0px;
  }
  
  .yellow {
    color: #feec00;
  }
  
  .logo-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 22px;
  }
  
  .hero-group {
    margin-top: 40px;
  }
  
  .nav-menu {
    margin-top: 16px;
  }
  
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section.home1 {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb62471d099754d36f24b_home-02.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .section.about1 {
    background-image: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b4bb084847c00e97ca5d0a7_about-will-05.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .section.black {
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .section.black.thin {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  
  .section.gray {
    background-color: #e6e6e6;
  }
  
  .section.light-gray {
    background-color: #f6f6f6;
  }
  
  .title-wrapper {
    display: block;
    max-width: 650px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    text-align: center;
  }
  
  .title-wrapper.left {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .title-wrapper._2 {
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: left;
  }
  
  .paragraph-col {
    -webkit-column-count: 2;
    column-count: 2;
  }
  
  .slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }
  
  .slider.quotes {
    display: block;
  }
  
  .slider-arrow {
    color: #c5c5c5;
  }
  
  .slide {
    height: 100%;
  }
  
  .slide-col-2 {
    padding-right: 60px;
    padding-left: 60px;
  }
  
  .slide-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .name-wrapper {
    margin-bottom: 40px;
  }
  
  .name-wrapper.slider-name {
    margin-bottom: 20px;
  }
  
  .yellow-col {
    padding: 60px 40px 61px;
    background-color: #feec00;
    color: #000;
  }
  
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .social-icon {
    margin-right: 10px;
    margin-left: 10px;
    border-style: none;
  }
  
  .social-icon:hover {
    background-color: transparent;
  }
  
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .text-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
  }
  
  .field {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
  }
  
  .field.cta-form {
    width: 70%;
    height: 55px;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    border-style: none;
  }
  
  .submit {
    width: 30%;
    height: 55px;
    border-style: none;
    background-color: #feec00;
    color: #000;
    font-size: 22px;
    font-weight: 500;
  }
  
  .flex-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-row.margins {
    margin-bottom: 80px;
  }
  
  .page-title {
    font-size: 62px;
    line-height: 66px;
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .center.subtext {
    margin-top: 60px;
  }
  
  .image-row {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .quote-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 60px;
    border: 2px solid #feec00;
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
  }
  
  .quote-credit {
    margin-top: 30px;
    margin-bottom: 0px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }
  
  .img-100 {
    width: 100%;
  }
  
  .col-padding-right {
    padding-left: 30px;
  }
  
  .col-padding-left {
    padding-right: 30px;
  }
  
  .signature-wrapper {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .signature {
    max-width: 400px;
    margin-top: -40px;
  }
  
  .button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .button-wrapper.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .button {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #feec00;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #000;
    font-weight: 500;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .button._2 {
    margin-left: 20px;
  }
  
  .media-group {
    margin-bottom: 40px;
  }
  
  .icon-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6f6f6;
  }
  
  .media-icon {
    max-width: 40px;
    margin-top: -18px;
    margin-right: 10px;
  }
  
  .media-icon.print {
    margin-top: -7px;
  }
  
  .media-icon.film {
    margin-top: -11px;
  }
  
  .media-icon.tv {
    margin-top: -11px;
  }
  
  .media-title {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 28px;
    line-height: 34px;
  }
  
  .item-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .item-group.products {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .item {
    width: 30%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-style: none;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #000;
    text-decoration: none;
  }
  
  .item:hover {
    background-color: transparent;
  }
  
  .item.product {
    width: 25%;
    background-color: #f9f9f9;
  }
  
  .item._100 {
    width: 100%;
  }
  
  .item-name {
    display: inline;
    border-bottom: 2px solid #feec00;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    font-size: 20px;
    line-height: 29px;
  }
  
  .item-name:hover {
    background-color: #feec00;
  }
  
  .topics-row {
    margin-bottom: 40px;
    text-align: left;
  }
  
  .action-link {
    margin-top: 76px;
    border-bottom: 7px solid #feec00;
    -webkit-transition: border 200ms ease;
    transition: border 200ms ease;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .action-link:hover {
    border-bottom-color: rgba(254, 236, 0, 0.4);
    background-color: transparent;
  }
  
  .action-link._2 {
    margin-left: 40px;
  }
  
  .action-wrapper {
    display: inline-block;
    margin-top: 30px;
  }
  
  .callout {
    display: block;
    max-width: 650px;
    margin: 120px auto 60px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
  }
  
  .logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: rgba(51, 51, 51, 0.52);
    font-size: 19px;
    text-align: center;
  }
  
  .michigan-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
  
  .michigan-text {
    padding: 40px 40px 20px;
    border: 2px solid #feec00;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  
  .michigan-logo {
    display: block;
    width: 250px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
  
  .narrow {
    display: block;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
  }
  
  .quote-logo {
    max-width: 190px;
    margin-bottom: 50px;
  }
  
  .large-quote {
    margin-top: 50px;
    margin-bottom: 90px;
  }
  
  .small {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .small.gray {
    color: #7c7c7c;
  }
  
  .small.gray.credit {
    margin-top: 16px;
    font-size: 16px;
  }
  
  .button-link {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 4px solid #feec00;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }
  
  .button-link:hover {
    border-bottom-color: transparent;
  }
  
  .outline {
    padding: 60px;
    border: 3px solid #feec00;
    text-align: center;
  }
  
  .hero-video {
    margin-bottom: 70px;
  }
  
  .tab-link {
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 6px solid #e7e7e7;
    background-color: transparent;
    font-weight: 600;
  }
  
  .tab-link.w--current {
    border-bottom-color: #feec00;
    background-color: transparent;
  }
  
  .tabs-menu {
    text-align: center;
  }
  
  .form-button {
    display: block;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 6px solid #feec00;
    background-color: transparent;
    color: #000;
    font-size: 30px;
    font-weight: 600;
  }
  
  .slide-col-1 {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  
  .slide-img {
    border-radius: 3px;
  }
  
  .slide-nav {
    font-size: 10px;
  }
  
  .slide-nav.hide {
    display: none;
  }
  
  .left-arrow {
    opacity: 0.5;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  
  .left-arrow:hover {
    opacity: 1;
  }
  
  .left-arrow.hide {
    display: none;
  }
  
  .right-arrow {
    opacity: 0.5;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  
  .right-arrow:hover {
    opacity: 1;
  }
  
  .right-arrow.hide {
    display: none;
  }
  
  .partner-logo {
    max-height: 30px;
    max-width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
  }
  
  .partner-logo.large {
    max-height: 70px;
    max-width: 120px;
  }
  
  .partner-logo.large-logo {
    max-height: 60px;
  }
  
  .play-icon {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
    cursor: pointer;
  }
  
  .play-icon:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .seen-on {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 300;
  }
  
  .hide {
    display: none;
  }
  
  .book-img {
    margin-top: -35px;
  }
  
  .img-80 {
    width: 80%;
  }
  
  .tab-pane-tab {
    padding-top: 50px;
  }
  
  .overlay-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
  }
  
  .video-wrapper {
    width: 70%;
  }
  
  .video-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .close-line {
    width: 2px;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.6);
  }
  
  .close-line._1 {
    -webkit-transform: translate(23px, 0px) rotate(45deg);
    -ms-transform: translate(23px, 0px) rotate(45deg);
    transform: translate(23px, 0px) rotate(45deg);
  }
  
  .close-line._2 {
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: translate(23px, 0px) rotate(-45deg);
    -ms-transform: translate(23px, 0px) rotate(-45deg);
    transform: translate(23px, 0px) rotate(-45deg);
  }
  
  .quote-mark-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    margin-right: -40px;
    font-size: 162px;
  }
  
  .list-item {
    margin-bottom: 20px;
    color: #7c7c7c;
  }
  
  .img-90 {
    width: 90%;
  }
  
  .item-subtitle {
    margin-bottom: 8px;
    color: #7c7c7c;
    font-size: 16px;
    line-height: 16px;
  }
  
  .form {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f3f3f3;
  }
  
  .mask {
    height: auto;
    padding-bottom: 75px;
  }
  
  .slide-name {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 36px;
  }
  
  .disclosure {
    margin-top: 40px;
    color: #b3b1b1;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }
  
  .disclosure-link {
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    -webkit-transition: border 200ms ease;
    transition: border 200ms ease;
    color: #c5c5c5;
  }
  
  .disclosure-link:hover {
    border-bottom-color: hsla(0, 0%, 44%, 0.6);
    background-color: transparent;
  }
  
  .play-link {
    border: 1px none #000;
  }
  
  .play-link:hover {
    background-color: transparent;
  }
  
  .brand {
    border-style: none;
  }
  
  .brand.w--current:hover {
    background-color: transparent;
  }
  
  .text-button {
    background-color: #000;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  
  .text-button:hover {
    background-color: #000;
  }
  
  .slide-dots {
    font-size: 10px;
  }
  
  .slide-1 {
    height: auto;
  }
  
  .dropdown-icon {
    font-size: 14px;
  }
  
  .dropdown-list {
    background-color: #feec00;
  }
  
  .dropdown-list.w--open {
    padding: 15px 47px;
    background-color: #000;
  }
  
  .dropdown-link {
    padding: 4px 0px;
    border-style: none;
    -webkit-transition: -webkit-transform 200ms
      cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #feec00;
    font-size: 16px;
    font-weight: 400;
  }
  
  .dropdown-link:hover {
    background-color: transparent;
    -webkit-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
  }
  
  .dropdown-link.w--current {
    color: #000;
  }
  
  .thumbnail-wrapper {
    width: 100%;
    height: 200px;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .thumbnail-text-wrapper {
    padding: 10px 30px 30px;
  }
  
  .hero-collection-list {
    padding-top: 90px;
  }
  
  .hero-collection-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
  }
  
  .collection-hero-content {
    position: relative;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 130px;
  }
  
  .collection-hero-content.detail {
    padding-bottom: 90px;
  }
  
  .collection-item {
    position: relative;
  }
  
  .collection-hero-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    );
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
  }
  
  @media (max-width: 991px) {
    h1 {
      font-size: 64px;
      line-height: 68px;
    }
    h2 {
      font-size: 40px;
      line-height: 46px;
    }
    h3 {
      font-size: 38px;
      line-height: 38px;
    }
    .hero.about {
      background-position: 56% 50%;
    }
    .nav-link {
      margin-right: 0px;
      margin-left: 0px;
      padding: 14px 0px;
    }
    .nav-link._2 {
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 8px 20px;
    }
    .nav-link._3 {
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 8px 20px;
    }
    .logo-group {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .nav-menu {
      padding: 25px 20px;
      background-color: #353535;
      text-align: left;
    }
    .section {
      padding-top: 75px;
      padding-bottom: 75px;
    }
    .slider {
      margin-top: 50px;
    }
    .slider-arrow {
      margin-right: 5px;
      margin-left: 5px;
    }
    .slide {
      height: auto;
      padding-bottom: 45px;
    }
    .slide-col-2 {
      padding-right: 0px;
      padding-left: 0px;
    }
    .slide-row {
      display: block;
    }
    .cta {
      font-size: 32px;
      line-height: 38px;
    }
    .flex-row {
      display: block;
    }
    .menu-button {
      margin-top: 10px;
      color: #fff;
      font-size: 35px;
    }
    .menu-button.w--open {
      background-color: transparent;
    }
    .nav-line {
      width: 25px;
      height: 2px;
      margin-top: 6px;
      margin-bottom: 6px;
      background-color: #fff;
    }
    .slide-col-1 {
      padding-right: 0px;
      padding-left: 0px;
    }
    .slide-img {
      height: 250px;
    }
    .form-block {
      margin-top: 30px;
    }
    .test-bg {
      background-color: #000;
    }
    .left-arrow {
      width: 50px;
    }
    .right-arrow {
      width: 50px;
    }
    .partner-logo {
      max-height: 30px;
      max-width: 110px;
    }
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 50px;
      line-height: 54px;
    }
    .hero.home {
      height: auto;
      padding-bottom: 40px;
    }
    .hero.about {
      padding-bottom: 60px;
      background-position: 61% 50%;
    }
    .hero.experience {
      padding-bottom: 50px;
      background-position: 69% 50%;
    }
    .hero.support {
      padding-bottom: 0px;
    }
    .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logo {
      width: 80px;
    }
    .hero-container {
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
    }
    .logo-group {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
    .hero-group {
      margin-top: 70px;
    }
    .nav-menu {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .section {
      padding-right: 10px;
      padding-left: 10px;
    }
    .section.home1 {
      padding-top: 200px;
      background-position: 0px 50%;
    }
    .section.about1 {
      padding-top: 210px;
    }
    .paragraph-col {
      -webkit-column-count: 1;
      column-count: 1;
    }
    .slide {
      padding-right: 50px;
      padding-left: 50px;
    }
    .yellow-col {
      padding: 30px 20px;
    }
    .footer {
      padding-right: 10px;
      padding-left: 10px;
    }
    .cta {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 30px;
    }
    .field.cta-form {
      height: 50px;
    }
    .submit {
      height: 50px;
    }
    .page-title {
      font-size: 50px;
      line-height: 54px;
    }
    .image-row {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .quote-wrapper {
      margin-top: 30px;
      margin-bottom: 70px;
      padding: 40px;
    }
    .img-100 {
      margin-bottom: 30px;
    }
    .col-padding-right {
      padding-right: 0px;
      padding-left: 0px;
    }
    .col-padding-left {
      padding-right: 0px;
      padding-left: 0px;
    }
    .signature {
      max-width: 300px;
    }
    .button-wrapper.center {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .button {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 18px;
    }
    .action-link {
      display: inline-block;
      border-bottom-width: 5px;
      font-size: 28px;
    }
    .action-wrapper {
      margin-top: 20px;
    }
    .callout {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .logo-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 18px;
    }
    .michigan-row {
      display: block;
    }
    .michigan-text {
      margin-top: 25px;
    }
    .tab-link {
      margin-right: 15px;
      margin-left: 15px;
      padding-right: 0px;
      padding-left: 0px;
      font-size: 18px;
    }
    .menu-button {
      margin-top: 0px;
    }
    .menu-button.w--open {
      margin-top: 0px;
    }
    .partner-logo {
      max-height: 25px;
      max-width: 90px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .partner-logo.large {
      max-height: 45px;
      max-width: 100px;
    }
    .play-icon {
      width: 68px;
    }
    .seen-on {
      font-size: 20px;
    }
    .hide {
      display: none;
    }
    .column {
      padding-right: 0px;
      padding-left: 0px;
    }
    .book-img {
      display: block;
      width: 250px;
      margin-right: auto;
      margin-left: auto;
      -webkit-transform: translate(-46px, 0px);
      -ms-transform: translate(-46px, 0px);
      transform: translate(-46px, 0px);
    }
    .img-80 {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 479px) {
    h1 {
      font-size: 40px;
      line-height: 45px;
    }
    h2 {
      font-size: 32px;
      line-height: 38px;
    }
    h3 {
      font-size: 30px;
      line-height: 28px;
    }
    .hero.home {
      padding-top: 120px;
    }
    .hero.about {
      padding-bottom: 10px;
      background-position: 68% 50%;
    }
    .hero.experience {
      background-position: 66% 50%;
    }
    .hero.projects {
      padding-bottom: 50px;
    }
    .hero.support {
      padding-bottom: 20px;
    }
    .nav-link._2 {
      display: block;
      text-align: center;
    }
    .nav-link._3 {
      display: block;
      margin-left: 0px;
      text-align: center;
    }
    .hero-container {
      padding-top: 40px;
    }
    .logo-group {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .hero-group {
      margin-top: 40px;
      font-size: 16px;
    }
    .section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .section.home1 {
      background-position: -378px 50%;
    }
    .title-wrapper {
      margin-bottom: 40px;
    }
    .slide {
      padding-right: 40px;
      padding-left: 40px;
    }
    .field {
      font-size: 20px;
    }
    .field.cta-form {
      padding-right: 15px;
      padding-left: 15px;
    }
    .submit {
      font-size: 20px;
    }
    .page-title {
      font-size: 40px;
      line-height: 45px;
    }
    .button-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .button {
      width: 100%;
      margin-bottom: 15px;
    }
    .button._2 {
      margin-left: 0px;
    }
    .button._2.last {
      margin-bottom: 0px;
    }
    .media-icon {
      max-width: 34px;
      margin-top: -10px;
      margin-right: 5px;
    }
    .media-icon.radio {
      margin-top: -12px;
    }
    .media-icon.print {
      margin-top: -4px;
    }
    .media-icon.film {
      margin-top: -4px;
    }
    .media-title {
      font-size: 24px;
    }
    .item {
      width: 100%;
    }
    .action-link {
      margin-top: 30px;
    }
    .action-link._2 {
      margin-left: 0px;
    }
    .tab-link {
      text-align: center;
    }
    .form-button {
      font-size: 22px;
      line-height: 22px;
    }
    .left-arrow {
      display: none;
      width: 35px;
      font-size: 25px;
    }
    .right-arrow {
      display: none;
      width: 35px;
      font-size: 27px;
    }
    .partner-logo {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .play-icon {
      width: 50px;
    }
    .column {
      padding-right: 0px;
      padding-left: 0px;
    }
    .img-80 {
      width: 100%;
    }
  }
  @font-face {
    font-family: "Calibre";
    src: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ea0fccf83cbd7e4d1_Calibre-Medium.eot")
        format("embedded-opentype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5e76d89c4fb95d2c2c_Calibre-Medium.woff")
        format("woff"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ea09814584759fc2c_Calibre-Medium.ttf")
        format("truetype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5e731aa1b534a5e175_Calibre-Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Calibre";
    src: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5e76d89c5f875d2c2d_Calibre-Regular.eot")
        format("embedded-opentype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5eee75f18c2c38e1a5_Calibre-Regular.woff")
        format("woff"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ea0981422d159fc2d_Calibre-Regular.ttf")
        format("truetype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ec3102c9328f08ac1_Calibre-Regular.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Calibre";
    src: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ea0fccf9319d7e4d2_Calibre-Semibold.eot")
        format("embedded-opentype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5eb998de5ad6001e3f_Calibre-Semibold.woff")
        format("woff"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ec3102c73b7f08ac2_Calibre-Semibold.ttf")
        format("truetype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5f49f3e1b868a1e168_Calibre-Semibold.svg")
        format("svg");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Calibre";
    src: url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5f731aa11441a5e177_Calibre-Light.eot")
        format("embedded-opentype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5e731aa12d4fa5e174_Calibre-Light.woff")
        format("woff"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5ea0fccf2de4d7e4d0_Calibre-Light.ttf")
        format("truetype"),
      url("https://uploads-ssl.webflow.com/5afb0fade6e4add7e90b9f67/5b469e5eb998de648d001e3e_Calibre-Light.otf")
        format("opentype");
    font-weight: 300;
    font-style: normal;
  }